*{
    text-decoration: none;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vl{
    border-left: 2px solid rgb(0, 0, 0);
    height: 680px;
    margin-top: 3%;
    margin-left: 4%;
    position: fixed;
}
.v2l{
    border-left: 2px solid rgb(0, 0, 0);
    height: 680px;
    margin-top: 3%;
    
    margin-left: 95%;
    position: fixed;
}
.menu {
    padding-left: 91%;
    line-height: 55px;
    position: fixed;
    font-weight: bold;
    font-size: small;
}

.menu2{
    padding-left: 5%;
    position: fixed;
    line-height: 36px;
}
.BUSINESS{
    margin-top: -9%;
    padding-left: 43%;
}
.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00000000;
    text-transform: uppercase;
    padding: 15px 61px;
    font-size: small;
}
.btn:hover{
    color: hsl(0, 0%, 100%);
}
.btn::before{
    color: #00000000;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.8s;
    border: 0;
}
.btn1::before{
    transform: scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}

.blackswan {
    padding-left: 18%;
    padding-top: 6%;
}
.middle{
    position: absolute;
    top: 111%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.lyw{
    padding-left: 25%;
    padding-top: 26%;
}
.middle2{
    position: absolute;
    top: 290%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.genesis{
    padding-left: 16%;
    padding-top: 26%;
}
.middle3{
    position: absolute;
    top: 387%;
    left: 48%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.bs_concept{
    padding-left: 16%;
    padding-top: 26%;
}
.middle4{
    position: absolute;
    top:488%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.rights{
    padding-left: 80%;
    padding-top: 17%;
    font-weight: bold;
    font-size: x-small;
}